// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'select2/dist/css/select2';


.filling-box{
  min-height: 44vh;
  display: flex;
  flex-direction: column;
}

.upper-div{
  flex-grow: 1;
}
